<h1>Account Details</h1>
<table border="1">
    <thead style="color: blue;" class="table table-primary">
        <th>User ID</th>
        <th>Account Balance</th>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>IFSC Code</th>
    </thead>
    <tr>
        <td>{{accdetail.userid}}</td>
        <td>{{accdetail.accountBalance}}</td>
        <td>{{accdetail.accountNo}}</td>
        <td>{{accdetail.accountType}}</td>
        <td>{{accdetail.userIfscCode}}</td> 
    </tr>


</table>