<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="registration-form">
        <form #loginForm="ngForm" (ngSubmit)="formSubmit(loginForm)" novalidate>
            <a href="#" class="badge badge-primary" style="padding:10px;font-weight:bold;">Back to Home</a>
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="text-center">
                <h4>Login Here</h4><br>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="loginID" name="loginID" required minlength="1" placeholder="Enter User ID"  [(ngModel)]="log.userid">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" name="password" required minlength="1" placeholder="Enter Login Password" 
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" [(ngModel)]="log.loginpwd"> 
            </div>
            <p *ngIf="showError" class="mat-h3 error-text">{{errorMsg}}</p>
            <div class="text-center">
            <br><button type="submit"[disabled]="!loginForm.valid" class="btn btn-outline-primary">Submit</button>
            </div>
            <div class="col-md-7 offset-md-1" style="padding-left: 2cm;">
                <p><i>First Time User? <a href="/register">Register</a></i></p>
            </div>
            <div class="col-md-7 offset-md-1" style="padding-left: 2cm;">
                <p><i><a href="/forgotUid">Forgot User ID?</a></i></p>
            </div>
            <div class="col-md-7 offset-md-1" style="padding-left: 2cm;">
                <p><i><a href="/forgotPwd">Forgot Password?</a></i></p>
            </div>
        
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
      <script src="assets/js/script.js"></script>
  </body>
  </html>