<mat-card>
    <mat-card-content>

    <h2 >Set New Password</h2>


<form name ="change-password" #myForm=ngForm (ngSubmit)="formSubmit(myForm)" style="max-width: 400px; margin: 0 auto;">

<div class="password">
    
    
        <mat-form-field appearance="fill">
           
           
            <mat-label> Old Password</mat-label>
            <input matInput [(ngModel)]="oldPassword" type="password" name="OldPassword" id="password" class ="form-control"
            required autofocus pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
            
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label> New Password</mat-label>
        <input matInput type="password" name="NewPassword" id="password" class ="form-control"
        required autofocus  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
        />
        
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label> Confirm New Password</mat-label>

        <input matInput #up = "ngModel" [(ngModel)]="password" [class.is-valid]="changePassword.errors?.misMatch" appConfirmEqualValidator type="password" name="ConfirmPassword" id="password" class ="form-control"
        required autofocus  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        />
        <div class="text-danger" *ngif="changePassword.errors?.misMatch">password do not match </div>
         <div *ngIf="up.invalid && (up.dirty || up.touched)" style="color: red">
            <div *ngIf="up.errors?.required">Password is required</div>
            <div *ngIf="up.errors?.pattern">Password is invalid</div>
        </div> 

     </mat-form-field>
     <br>
     <button mat-raised-button color="primary" type="submit">Submit</button>
        

</div>
</form>
</mat-card-content>
</mat-card>
